body {
  margin: 0;
  background: #141414;
  color: white;
  text-align: center;
  font-family: Arial;
}

.header {
  padding: 20px;
}

#map {
  height: 90vh;
}

/* .glass-card {
  width: 300px;
  padding: 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.2);
} */

.info-panel {
  background: #141414;
  border: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  min-height: 200px;
  min-width: 0;
  width: 50%;
  margin: 10px;
  position: relative;
}

.info-panel h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 6px 10px;
  background: rgba(255, 255, 255, .03);
  border-bottom: 1px solid #2a2a2a;
  flex-shrink: 0;
  position: relative;
  margin:0;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: cyan;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s infinite;
  box-shadow:
    0 0 10px cyan,
    0 0 20px cyan;
}

.core {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
